

@font-face {
    font-family: 'garagegothicregular';
    src: url('../fonts/garagegothic-regular-webfont.eot');
    src: url('../fonts/garagegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/garagegothic-regular-webfont.woff') format('woff'),
         url('../fonts/garagegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/garagegothic-regular-webfont.svg#garagegothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}