/*

  Queen Creek Development District

  based on HTML5  Boilerplate v5.2 [05.01.2015]
  https://github.com/h5bp/html5-boilerplate

  Site Development by dFree
  Developer: Daniel Freeman [@dFree]


*/


/*// IMPORTS ----------------------- */
@import "normalize",
        "variables",
        "slick";



/*// HTML5 BOILERPLATE ----------------------- */

html{color: #222;font-size: 1em;line-height: 1.4;}
::-moz-selection{background: $green;text-shadow: none; color:$white;}
::selection{background: $green;text-shadow: none; color:$white;}
hr{display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}
audio,canvas,img,svg,video{vertical-align: middle;}
fieldset{border: 0;margin: 0;padding: 0;}
textarea{resize: vertical;}
.browserupgrade{margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}



/*// PRIMARY STYLES ----------------------- */
html{
  width:100%; height:100%;
  background-color:#eeeeee;
  color:$black;
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
  margin-top: 0px !important;
}
body{
  position:relative;
  overflow:hidden;
  -webkit-transform: scale3d(1,1,1);
  opacity:0;
}

a{
  text-decoration:none;
  color:$black;
  webkit-tap-highlight-color: rgba(0,0,0,0);
}


/*// HEADER ----------------------- */
header{
  position:relative;
  width:100%; height:112px;
  background-color:$white;
  color:$text-grey;
  overflow:hidden;
  z-index:99999999999999;
  @include breakpoint(1000px){
    height:77px;
    padding:10px 0px 0px 0px;
    overflow:visible;
  }
  .logo{
    position:absolute;
    width:90px; height:82px;
    top:16px; left:36px;
    z-index:100;
    @include breakpoint(1000px){
      top:0; bottom:-82px; left:0; right:0;
      margin:auto;
      width:73px; height:73px;
      border-radius:50%;
      background-color:$white;
      padding:8px;
      z-index:0;
    }
    img{
      @include breakpoint(1000px){
        margin:24px 0px 0px 14px;
        width:67%;
      }
    }
  }
  .social{
    position:absolute;
    width:90px; height:15px;
    top:30px; right:36px;
    z-index:100;
    @include breakpoint(1000px){display:none;}
    ul{
      list-style-type: none;
      padding:0px;
      li{
        float:left;
        width:17px; height:14px;
        margin:0px 0px 0px 20px;
      }
      .facebook{
        background:url('../img/social-facebook.svg') center no-repeat;
      }
      .twitter{
        background:url('../img/social-twitter.svg') center no-repeat;
      }
    }
  }
  .title{
    position:relative;
    overflow:auto;
    z-index:9;
    @include breakpoint(1000px){
      width:200px;
      margin:0px auto;
    }
  }
  h1{
    text-align: center;
    font:12px $kameron;
    margin:0px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 19px 0px 0px 0px;
    @include breakpoint(1000px){
      font:7px $kameron;
      margin:0px 0px 0px 0px;
      z-index:9;
    }
  }
  h2{
    text-align: center;
    font:35px $roboto;
    margin:0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include breakpoint(1000px){
      font:19px $roboto;
      z-index:9;
    }
  }
}


/*// MAP ----------------------- */
.map{
  position:relative;
  overflow:auto;
  width:100%;
  margin-top: -47px;
  z-index:9999999;
  @include breakpoint(1000px){display:none;}
  img{width:100%;}
  .pin{
    position:absolute;
    width:53px; height:53px;
    span{cursor:pointer;}
    .pinImage{
      margin: -100% 0px 0px -50%;
      width:53px; height:73px;
    }
    p{
      position:absolute;
      top:-42px; left:-5px;
      margin:0;
      color:$white;
      font:26px $roboto;
      z-index:99;
      transition: all 0.2s ease;
    }
  }
  .zoomDown{
    position:absolute;
    top:0px;
    transform: scale(1);
    //transition: all 0.5s ease;
    background:url(../img/pin-regular.svg) center no-repeat;
  }
  .zoomUp{
    position:absolute;
    top:-9px;
    transform: scale(1.5);
    //transition: all 0.5s ease;
    background:url(../img/pin-hover.svg) center no-repeat;
  }
  .zoomP{
    position: absolute;
    top: -63px !important; left: -7px!important;
    transition: all 0.2s ease;
    font: 36px "Roboto",sans-serif !important;
    z-index:99999;
  }
  .road{
    position:absolute;
    width:150px; height:50px;
    img{margin: -38% 0px 0px -52%;}
    p{
    position: absolute;
    margin: 0;
    text-transform: uppercase;
    color: #FFF;
    font: 16px "Roboto",sans-serif;
    }
  }
}

// PINS

.pin-1{left:14%; top:31%;}
.pin-2{left:34%; top:26%;}
.pin-3{left:43.5%; top:31.5%;}
.pin-4{left:48%; top:26.5%;}
.pin-5{left:52%; top:28.5%;}
.pin-6{left:59%; top:33%;}
.pin-7{left:66%; top:28%;}
.pin-8{left:84%; top:29%;}







// ROADS
.rittenhouse{
  left:74%; top:28%;
  p{top: -38px; left: -51px;}
}
.ocotillo{
  left:30%; top:33.5%;
  p{top: -38px; left: -37px;}
}
.ellsworth{
  left:57%; top:41.5%;
  p{top: -38px; left: -45px;}
}
.ellsworth-loop{
  width:200px !important; height:50px !important;
  left:17%; top:47.5%;
  p{top: -47px; left: -67px;}
}


/*// INFO BOX ----------------------- */
.info-box{
  position:absolute;
  bottom:28%; left:0; right:0;
  margin:auto;
  height:311px; width:1016px;
  @include breakpoint(1900px){bottom:22%;}
  @include breakpoint(1800px){bottom:10%;}
  @include breakpoint(1100px){width:936px; bottom:3%;}
  .info{
    position:relative;
    width:100%; height:250px;
    background-color:$white;
    .image{
      position:relative;
      width:385px; height:216px;
      float:left;
      margin:17px 0px 0px 17px;
    }
    .text{
      position:relative;
      float:left;
      width:490px;height:216px;
      margin:17px 17px 0px 17px;
      color:$text-grey;
      @include breakpoint(1100px){
        width:410px;
      }
      .half{
        width:50%;
        float:left;
        overflow:auto;
        margin: 20px 0px 20px 0px;
      }
      h1{
        font:24px/24px $roboto;
        text-transform: uppercase;
        margin:0px 0px 0px 0px;
        letter-spacing: 2px;
        @include breakpoint(1100px){font:23px $roboto;}
      }
      h4{
        font:10px $roboto;
        margin:12px 0px 0px 0px;
        text-transform: uppercase;
      }
      p{
        font:15px $roboto;
        margin:0px;
        text-transform: uppercase;
      }
      span{
        font:13px $roboto;
        margin:0px;
      }
      .learn-more{
        font:13px $kameron;
        margin:38px 0px 0px 0px;
        clear:both;
        cursor:pointer;
        background-color: $green;
        padding: 7px;
        width: 95px;
        color: $white;
        transition: all 0.2s ease;
        position:absolute;
        bottom:0px;
      }
      .learn-more:hover{
        background-color:$text-grey;
        color:$white;
        transition: all 0.2s ease;
      }
    }
    .number{
      position:relative;
      float:left;
      width:75px; height:216px;
      margin:17px 0px 0px 0px;
      .id{
        position:relative;
        width:75px; height:75px;
        background-color:$green;
        p{
          color:$white;
          font:55px/71px $roboto;
          text-align:center;
          margin:0px;
        }
      }
      .dots{
        position:relative;
        margin:17px 0px 0px 0px;
      }
    }
  }
  .info-nav{
    position:relative;
    margin:20px 0px 0px 0px;
    width:100%; height:42px;
    background-color:$white;
    text-transform: uppercase;
    letter-spacing: 1px;
    p{
      font:300 15px/42px $roboto;
      margin:0px 0px 0px 20px;
      width:540px;
      @include breakpoint(1100px){font:300 13px/42px $roboto;}
    }
    span{
      font-weight:400;
    }
    ul{
      list-style-type: none;
      float:right;
      padding:0px;
      margin:-42px 0px 0px 0px;
      li{
        font:400 15px/42px $roboto;
        height:42px; width:23px;
        background-color:$white;
        float:left;
        margin:0px 12px 0px 12px;
        text-align:center;
        transition: all 0.2s ease;
        cursor:pointer;
      }
      li:hover{
        background-color:$light-grey;
        color:$white;
      }
      li:first-child{cursor:default;}
      li:first-child:hover{background-color:$white;color:$text-grey;}
      .active{background-color:$green;color:$white;cursor:default;}
      .active:hover{background-color:$green;color:$white;}
    }
  }
}

.zoom{
  transform: scale(2);
  transition: all 0.2s ease;
}



/*// MOBILE HOME ----------------------- */
.mobile-home{
  display:none;
  background-color:$white;
  @include breakpoint(1000px){
    display:block;
    position:relative;
    overflow:auto;
    width:100%;
    margin-top: -47px;
    z-index:9999999;
  }
  img{width:100%;}
  .mobile-inset{
    position:relative;
    overflow:auto;
    width:240px;
    margin:0px auto 25px;
    p{
      font:13px $roboto;
      text-align: center;
      margin:25px 0px 0px 0px;
      text-transform: uppercase;
      color:$light-grey;
      letter-spacing: 1px;
    }
    .arrows{
      margin:0px 0px 25px 0px;
    }
  }
  .project-list{
    list-style-type: none;
    padding:0px;
    background-color:#F7F7F7;
    li{
      border-top:1px solid $light-grey;
      height:54px;
      text-align: center;
      text-transform: uppercase;
      color:$text-grey;
      h1{
        font:15px/15px $roboto;
        margin:4px 0px 0px 0px;
      }
      p{
        font:9px/15px $roboto;
        margin:4px 0px 0px 0px;
      }
    }
    li:last-child{
      border-bottom:1px solid $light-grey;
    }
  }
  .mobilefooter{
    position:relative;
    overflow:auto;
    .social{
      position:relative;
      width:100px;
      margin:30px auto 43px;
      overflow:auto;
      ul{
        list-style-type: none;
        padding:0px;
        li{
          float:left;
          width:17px; height:14px;
          margin:0px 0px 0px 20px;
        }
        .facebook{
          background:url('../img/social-facebook.svg') center no-repeat;
        }
        .twitter{
          background:url('../img/social-twitter.svg') center no-repeat;
        }
      }
    }
    p{
      font:10px $roboto;
      color:$light-grey;
      clear:both;
      width:215px;
      margin:0px auto;
      text-align:center;
    }
    img{
      width:125px; 
      margin:10px auto 30px;
      display:block;
    }
  }
}


/*// INTERIOR PAGE ----------------------- */
.interior{
  position:absolute;
  top:112px;
  width:100%;
  overflow:auto;
  background-color:#eeeeee;
  background: -webkit-gradient(radial, center center, 500, center center, 1000, from(#ffffff), to(#edeeee));
  z-index:0;
  @include breakpoint(1000px){
    top:87px;
    overflow:hidden;
  }
  .home-page{
    position:absolute;
    top:15px; left:37px;
    font:13px $kameron;
    text-transform: uppercase;
    padding: 7px;
    width: 95px;
    background-color:$green;
    color: $white;
    transition: all 0.2s ease;
  }
  .home-page:hover{
    background-color:$text-grey;
    color:$white;
    transition: all 0.2s ease;
  }
  .switcher{
    position:relative;
    text-align: center;
    margin:45px 0px 25px 0px;
    @include breakpoint(1000px){display:none;}
    h1{
      font:16px $roboto;
      text-transform: uppercase;
      margin:0px 0px 0px 0px;
      color:$text-grey;
      letter-spacing: 2px;
    }
    ul{
      list-style-type: none;
      padding:0px;
      display:inline-block;
      li{
        float:left;
        display:inline;
        width:28px; height:45px;
        color:$text-grey;
        margin: 0px 10px 0px 10px;
        font:300 14px/25px $roboto;
        cursor:pointer;
      }
      .active{
        color:$white;
        background:url('../img/location-switcher-bg.svg') top no-repeat
      }
    }
  }
  .inset{
    position:absolute;
    top:80px; left:10%;
    width:232px;
    z-index:9999999;
    display:block;
    @include breakpoint(1000px){display:none;}
  }
  .gallery{
    position:relative;
    overflow:auto;
    width:100%;
    margin:0px auto;
    .galWrap{
      position:relative;
      width:100%;
      overflow:auto;
      img{
        max-width:1100px;
        width:100%;
        margin:0px auto;
        display:block;
      }
      iframe{
        max-width:1100px;
        width:100%;
        margin:0px auto;
        display:block;
      }
    }
  }
  .pager{
    position:relative;
    width:150px; height:50px;
    margin: 30px auto 0px;
    z-index: 9999;
    @include breakpoint(1000px){
      height:0px;
      width:90% !important;
    }
    .pager-dots{
      .dot{
        width:11px; height:11px;
        border:2px solid $green;
        border-radius:11px;
        margin:0px 10px 0px 10px;
        float:left;
        margin:0px 10px 0px 10px;
        cursor:pointer;
      }
      .cycle-pager-active{
        background-color:$green;
      }
      @include breakpoint(1000px){display:none;}
    }
    .next{
      float:right;
      background:url('../img/pager-arrows.svg');
      width:10px; height:20px;
      transform: scale(-1, 1);
      margin: -2px 0px 0px 0px;
      cursor:pointer;
      @include breakpoint(1000px){
        background:url('../img/pager-arrows-white.svg');
        margin:-36% 0px 0px 0px;
      }
      @include breakpoint(781px){margin:-40% 0px 0px 0px;}
      @include breakpoint(400px){margin:-45% 0px 0px 0px;}
    }
    .prev{
      float:left;
      background:url('../img/pager-arrows.svg') top no-repeat;
      width:10px; height:20px;
      margin: -2px 13px 0px 0px;
      cursor:pointer;
      @include breakpoint(1000px){
        background:url('../img/pager-arrows-white.svg');
        margin:-36% 0px 0px 0px;
      }
      @include breakpoint(781px){margin:-40% 0px 0px 0px;}
      @include breakpoint(400px){margin:-45% 0px 0px 0px;}
    }
  }
  .location-info{
    position:relative;
    width:850px;
    margin:50px auto 100px;
    overflow:hidden;
    @include breakpoint(1000px){
      margin:30px auto 50px;
      width:80%;
    }
    .number{
      position:relative;
      float:left;
      width:75px; height:100%;
      margin:0px 37px 0px 0px;
      @include breakpoint(1000px){
        margin:0px 20px 0px 0px;
        width:45px;
      }
      .id{
        position:relative;
        width:75px; height:75px;
        background-color:$green;
        @include breakpoint(1000px){
          width:45px; height:45px;
        }
        p{
          color:$white;
          font:55px/71px $roboto;
          text-align:center;
          margin:0px;
          @include breakpoint(1000px){
            font:33px/44px $roboto;
          }
        }
      }
      .dots{
        position:relative;
        margin:17px 0px 0px 0px;
      }
    }
    .description{
      position:relative;
      float:left;
      width:403px; height:100%;
      margin:0px 37px 0px 0px;
      color:$text-grey;
      @include breakpoint(1000px){
        width:calc(100% - 67px);
        margin:0px 0px 20px 0px;
      }
      h1{
        font:400 26px $roboto;
        margin:0px 0px 14px 0px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      p{
        font:300 15px $roboto;
        margin:0px 0px 0px 0px;
        letter-spacing: 1px;
        @include breakpoint(1000px){
          font:300 12px $roboto;
        }
      }
    }
    .stats{
      position:relative;
      float:left;
      width:258px;
      color:$text-grey;
      margin:50px 0px 0px 0px;
      padding:0px 0px 0px 37px;
      border-left:2px solid $green;
      @include breakpoint(1000px){
        float:none;
        border-left:none;
        border-top:2px solid $green;
        width:100%;
        clear:both;
        margin:0px auto;
        padding:20px 0px 0px 0px;
      }
      .half{
        width:50%;
        float:left;
        overflow:auto;
        margin: 20px 0px 20px 0px;
        @include breakpoint(1000px){
          float:none;
          width:100%;
        }
      }
      h1{
        font:26px $roboto;
        text-transform: uppercase;
        margin:-7px 0px 14px 0px;
        letter-spacing: 2px;
      }
      h4{
        font:10px $roboto;
        margin:12px 0px 0px 0px;
        text-transform: uppercase;
        clear:both;
      }
      h4:first-child{margin:0px;}
      p{
        font:15px $roboto;
        margin:0px;
        text-transform: uppercase;
      }
      span{
        font:13px $roboto;
        margin:0px;
      }
      .pdf{
        img{float:left; margin:0px 10px 0px 0px;}
        float:left;
        text-transform: uppercase;
        height:32px; width:120px;
        font:12px $roboto;
        margin:6px 0px 0px 0px;
      }
    }
  }
  .close{
    display:none;
    @include breakpoint(1000px){
      font:13px $kameron;
      width:100%;
      margin:100px 0px 0px 0px;
      text-align:center;
      text-transform: uppercase;
      letter-spacing: 1px;
      display:block;
      clear:both;
    }
  }
}

/*// FOOTER ----------------------- */
footer{
  position:relative;
  height:75px; width:100%;
  background-color: $white;
  z-index:99;
  @include breakpoint(1000px){display:none;}
  div{
    margin:0px auto;
    overflow:auto;
    width:990px;
  }
  img{
    float:left;
    width:125px;
    margin:15px 15px 0px 0px;
  }
  p{
    font:300 12px $roboto;
    color:$light-grey;
    float:left;
  }
  .ksstag{
    margin:-12px 0px 0px 140px;
  }
  a{color:$light-grey; transition: all 0.2s ease;}
  a:hover{color:$text-grey; transition: all 0.2s ease;}
}



/*// HELPER CLASSES AND PRINT STYLES -----------------------*/

.hidden {display: none !important;}
.visuallyhidden {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {clip: auto;height: auto;margin: 0;overflow: visible;position: static;width: auto;}
.invisible {visibility: hidden;}
.clearfix:before,
.clearfix:after {content: " "; /* 1 */display: table; /* 2 */}

.clearfix:after {clear: both;}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {text-decoration: underline;}

    a[href]:after {content: " (" attr(href) ")";}

    abbr[title]:after {content: " (" attr(title) ")";}
    a[href^="#"]:after,
    a[href^="javascript:"]:after {content: "";}
    pre,
    blockquote {border: 1px solid #999;page-break-inside: avoid;}
    thead {display: table-header-group;}
    tr,
    img {page-break-inside: avoid;}
    img {max-width: 100% !important;}
    p,
    h2,
    h3 {orphans: 3;widows: 3;}
    h2,
    h3 {page-break-after: avoid;}
}